name: photoz_env
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - pandas
  - numpy
  - matplotlib
  - scipy
  - pyyaml
  - tqdm
  - pytables
  - jupyter
  - ipykernel